.ntua_food {
  background-color: #474747;
  padding: 2px;
}
.ntua_food ul {
  padding-left: 120px;
  padding-right: 100px;
}
.ntua_food li {
  color: #ffffff;
  padding-left: 5px;
  display: inline-block;
  vertical-align: middle;
}
.ntua_food_li_space {
  margin-left: 25px;
}
.right_icon {
  float: right;
  padding-top: 9.64px;
  padding-right: 20px;
}
.ntua_food_second {
  background-color: #fdf3f3;
  padding: 20px;
}
.ntua_food_second a {
  padding-left: 100px;
  text-decoration: none;
  color: #2c2f24;
  vertical-align: middle;
}
.ntua_food_second ul {
  display: inline-block;
  vertical-align: top;
  padding-left: 554px;
  font-size: 20px;
}
.ntua_food_second li {
  display: inline-block;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.home_button {
  border-radius: 34px;
  background-color: #dbdfd0;
  border-color: #ffffff;
  font-size: 20px;
}
.time_button {
  background-color: #fdf3f3;
  border-radius: 118px;
  border-width: 1.5px;
  font-size: 20px;
  font-weight: bold;
}
.time_button_li {
  padding-left: 400px !important;
}
/* .cook {
  position: absolute;
  top: 400px;
  left: 800px;
  width: 667px;
  height: 96px;
  padding-left: 500px;
} */
.cook {
  position: flex;
  align-items: center;
  text-align: center;
  padding-top: 200px;
}
.big {
  font-size: 100px;
  position: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}
.small {
  font-size: 20px;
  text-align: center;
}
.two_button {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding-top: 100px;
}
.fast {
  border-radius: 118px;
  font-size: 16px;
  width: 128px;
  height: 64px;
  background-color: #AD343E(0, 52, 111);
}
.see {
  border-radius: 118px;
  font-size: 16px;
  width: 128px;
  height: 64px;
  background-color: #AD343E(0, 52, 111);
}
body {
  background-image: url(../img/底圖_bg_02.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
